* {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #363636;
  margin: 0;
  padding: 0;
}

h1 {
  color: #e6c300;
}

header,
main {
  width: 100%;
  text-align: center;
  padding: 10px;
}

header button {
  margin: 10px;
  width: 120px;
  height: 30px;
}

button {
  cursor: pointer;
  width: 75px;
}

.hide {
  display: none;
}

.garage-controls {
  display: flex;
  justify-content: space-between;
  width: 280px;
  flex-wrap: wrap;
  margin: auto;
}

.car-card {
  margin-top: 20px;
  position: relative;
  border-bottom: 4px dotted #fff;
}

.car-card-flag {
  position: absolute;
  right: 60px;
  font-size: 28px;
  top: 15px;
}

.car-card-name {
  text-align: left;
}

.car-card-pic {
  width: 60px;
  font-size: 32px;
}

.border-error {
  border: 2px solid red;
}

.car-card-buttons {
  margin-bottom: 5px;
}

.garage-container,
.winners-container {
  width: 500px;
  margin: auto;
}

.winner-card,
.winners-top-row {
  display: flex;
}

.winners-top-row {
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #fff;
}

.winner-card-item,
.winner-header-item {
  width: 20%;
  text-align: center;
}

.drive {
  animation-fill-mode: forwards;
}

.header-active {
  border: 1px solid red;
}

@keyframes grow {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 40px;
  }
}
