@import url('https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,900');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  transition: background .6s ease-in-out .3s;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}


body {
  min-height: 100vh;
}

.main-wrapper {
  max-width: 1280px;
  margin: 15px auto 0 auto;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 70vh;
  position: relative;
}

.header,
.footer {
  min-height: 120px;
  border: 1px solid blue;
}

.app-top-component {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid lightcoral;
  position: absolute;
  left: -90vw;
  text-align: center;
  transition: all .6s;
}

.component-show {
  left: 0;
}

.menu-component {
  text-align: center;
}

.game-results {
  text-align: right;
  left: -55wv;
}

.categories-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.quiz-category {
  width: 20%;
  height: 250px;
  border-radius: 10px;
  border: 1px solid lightblue;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.quiz-category:hover .category-results-all {
  bottom: 0;
}

.category-not-played {
  filter: grayscale(100%);
}


.answers {
  display: flex;
  flex-wrap: wrap;
}

.answer {
  width: 50%;
  cursor: pointer;
}

.answer-img {
  width: 40%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid purple;
  margin: auto;
  cursor: pointer;
}

.question-img {
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid purple;
  margin: auto;
}

.question-img img {
  max-width: 100%;
  max-height: 100%;
}

.menu-components-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.menu-element {
  font-size: 20px;
  border: 2px solid green;
  margin: 10px;
  cursor: pointer;
  width: 34%;
}

.menu-component .clubs-button, .menu-component .players-button {
  height: 320px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
}

.menu-component .clubs-button {
  background: url('../assets/img/clubs.jpg') center /cover no-repeat;
}

.menu-component .players-button {
  background: url('../assets/img/players.jpg') center /cover no-repeat;
}

.answer-component {
  z-index: 2;
}

.modal-background {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  background-color: rgba(60, 60, 60, 0.8);
  position: fixed;
}

.hide-button {
  display: none;
}

.answer-modal-indicator {
  margin: auto;
  height: 100px;
  width: 100px;
  background: url('../assets/img/correct.svg') center /100% no-repeat;
}

.answer-indicator-wrong {
  background: url('../assets/img/wrong.svg') center /100% no-repeat;
}

.answer-modal-img {
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid purple;
  margin: auto;
}

.round-pic-animated {
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid purple;
  margin: auto;
}

.modal-back-show {
  display: block;
}

.round-score-component {
  z-index: 3;
}

footer {
  background: #eaeef3;
  height: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

footer div {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rslogo {
  max-width: 100px;
  max-height: 100px;
  height: auto;
  width: 100%;
}

.app-header-wrapper {
  width: 320px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app-header-logo {
  max-width: 35%;
  max-height: 100px;
  
  
}

.app-header-logo img {
  max-width: 100%;
  max-height: 100%;
}
.app-header-text {
  max-width: 65%;
  text-transform: uppercase;
  
  font-size: 28px;
  padding: 10px;
}



.category-info {
  display: flex;
  background: darkblue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  height: 30px;
}
.category-info-name {
  width: 65%;
}

.category-info-results-num {
  width: 35%;
}

.category-results-all {
  width: 100%;
  bottom: -35px;
   
    height: 27px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: yellow;
    position: absolute;
    transition: all .5s;
}

.category-results-hidden {
  display: none;
}










input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

.slideOne {
  width: 50px;
  height: 10px;
  background: #333;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideOne label {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -3px;
  left: -3px;
  cursor: pointer;
  background: #fcfff4;
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all .4s ease;
}
.slideOne input[type=checkbox] {
  visibility: hidden;
}
.slideOne input[type=checkbox]:checked + label {
  left: 37px;
}
