body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
}



.main-wrapper {
  max-width: 1280px;
  margin: 15px auto 0 auto;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 3;
  background-color: #000;
  min-height: 70vh;
  position: relative;
  .test-block {
    min-width: 900px;
    height: 300px;
    background: red;
    margin-top: 20px;
    /* display: none; */
    position: absolute;
    left: 0;
    left: -130vw;
    transition: all 0.6s;
    
  }
  .hide-show {
    left: 0;
  }
}

.header,
.footer {
  min-height: 10vh;
  border: 1px solid red;
}
