.lights-tree-container {
  display: flex;
  justify-content: center;
  height: calc(100vh - 140px);
  width: 50%;
  position: absolute;
  top: 2px;
  left: 25%;
  pointer-events: none;
  z-index: 80;
  overflow: hidden;
}

.lights-layer {
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
  pointer-events: none;
  border-radius: 50%;
  padding: 0;
  list-style: none;
  margin: 50px auto 0;
}

.lights-layer li {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: -5px;
  animation-name: red;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.lights-layer li:nth-child(2n + 1) {
  animation-duration: 1.8s;
}

.lights-layer li:nth-child(4n + 2) {
  animation-duration: 1.1s;
}

.lights-layer li:nth-child(3n + 1) {
  animation-duration: 1.4s;
}

.lights-layer li.red {
  animation-name: red;
}
.lights-layer li.green {
  animation-name: green;
}
.lights-layer li.blue {
  animation-name: blue;
}
.lights-layer li.yellow {
  animation-name: yellow;
}

.lights-layer li.multicolor:nth-child(1n + 1) {
  animation-name: red;
}
.lights-layer li:nth-child(2n + 2).multicolor {
  animation-name: green;
}
.lights-layer li:nth-child(3n + 3).multicolor {
  animation-name: blue;
}
.lights-layer li:nth-child(4n + 4).multicolor {
  animation-name: yellow;
}

@keyframes green {
  0%,
  100% {
    background: rgba(0, 247, 165, 1);
    box-shadow: 0px 2px 12px 2px rgba(0, 247, 165, 1);
  }
  50% {
    background: rgba(0, 247, 165, 0.4);
    box-shadow: 0px 2px 12px 2px rgba(0, 247, 165, 0.2);
  }
}
@keyframes blue {
  0%,
  100% {
    background: rgba(0, 255, 255, 1);
    box-shadow: 0px 2px 12px 2px rgba(0, 255, 255, 1);
  }
  50% {
    background: rgba(0, 255, 255, 0.4);
    box-shadow: 0px 2px 12px 2px rgba(0, 255, 255, 0.2);
  }
}
@keyframes red {
  0%,
  100% {
    background: rgba(247, 0, 118, 1);
    box-shadow: 0px 2px 12px 2px rgba(247, 0, 118, 1);
  }
  50% {
    background: rgba(247, 0, 118, 0.4);
    box-shadow: 0px 2px 12px 2px rgba(247, 0, 118, 0.2);
  }
}
@keyframes yellow {
  0%,
  100% {
    background: rgba(255, 255, 0, 1);
    box-shadow: 0px 2px 12px 2px rgba(255, 255, 0, 1);
  }
  50% {
    background: rgba(255, 255, 0, 0.4);
    box-shadow: 0px 2px 12px 2px rgba(255, 255, 0, 0.2);
  }
}

@media (max-width: 1320px) {
  .lights-tree-container {
    width: 70%;
    left: 30%;
  }
}
