* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  font-family: 'Comfortaa', sans-serif;
  line-height: 1.5;
  color: #fff;
}

button {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 500;
}

.header {
  position: relative;
  background-color: #003147;
  z-index: 5;
  position: fixed;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  height: 70px;
  margin: 0 auto;
}

.logo {
  width: 48px;
  height: 60px;
  cursor: pointer;
  transition: 0.4s;
  background: url(../assets/svg/tree.svg) center / contain no-repeat;
}

.logo:hover {
  filter: invert(25%);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 10px;
  transition: 0.4s;
  position: relative;
  display: block;
  font-size: 20px;
  color: #fff;
}

.navigation a:hover {
  color: #4cc7f4;
}

.navigation a {
  margin-right: 30px;
}

.navigation a:nth-child(3) {
  margin-right: 0;
}

.active-link::after {
  content: '';
  position: absolute;
  height: 3px;
  background-color: #4cc7f4;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

.header-control-panel {
  display: flex;
  align-items: center;
}

.search {
  border: 1px solid #4cc7f4;
  color: #fff;
  font-size: 18px;
  background-color: rgba(31, 112, 127, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 340px center;
  width: 380px;
  height: 40px;
  padding: 5px 15px 5px 10px;
  margin: 10px 0;
  margin-right: 30px;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 19px;
  width: 19px;
  background: url('../assets/svg/cross-red.svg') right no-repeat;
  padding-left: 5px;
  cursor: pointer;
}

.search {
  outline: 0;
}

.selected-toys-count {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 4px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  background-color: #4cc7f4;
  border: 2px solid #fff;
}
.select {
  height: 60px;
  padding: 0 10px;
}

.background-effect {
  background: rgba(23, 40, 40, 0.3);
  backdrop-filter: blur(3px);
  height: 100%;
  min-height: calc(100vh - 170px);
  width: 100%;
}

.main-area-wrapper {
  background: url(../assets/bg.jpg) center / cover fixed no-repeat;
  /* background-size: cover;
  background-attachment: fixed; */
  min-width: 100%;
  min-height: calc(100vh - 170px);
  padding-top: 70px;
}

.page {
  min-width: 100%;
  min-height: calc(100vh - 170px);
  /* background-image: url('../assets/bg.jpg'); */
  background-size: cover;
  background-attachment: fixed;
}

.toy-container,
.toy-test-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 50px;
  justify-content: center;
}

.nothing-found {
  text-align: center;
  font-size: 28px;
  opacity: 1;
  transition: opacity 0.9s;
}

.toy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 320px;
  height: 280px;
  border: 1px solid #4cc7f4;
  background-color: rgba(31, 110, 127, 0.5);
  backdrop-filter: blur(5px);
  cursor: pointer;
  overflow: hidden;
  padding: 0;
  padding-left: 8px;
  border-radius: 10px;
  position: relative;
  transition: all 0.4s;
}

.toy:hover {
  border: 1px solid #fff;
}

.toy > * {
  pointer-events: none;
}

.toy-title {
  width: 100%;
  font-size: 20px;
  font-stretch: condensed;
  padding-left: 10px;
}

.toy-img {
  width: 95px;
  height: 120px;
  object-fit: contain;
}

.toy-description {
  margin-top: -20px;
  padding-left: 10px;
  line-height: 1;
  user-select: none;
  width: 200px;
}

.toy-description p span {
  padding-left: 7px;
}

.chosen {
  position: absolute;
  top: 210px;
  width: 0;
  height: 40px;
  background: #4cc7f4;
  left: -8px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: all 0.5s;
}

.toy.active .chosen {
  background: #ffff8f;
  width: 100px;
}

.toy.active {
  border: 1px solid #ffff8f;
}
.toy::after {
  opacity: 0;
  background: #4cc7f4;
  position: absolute;
  content: 'Извините, все слоты заполнены';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.6s;
  pointer-events: none;
}
.filtered-counter-number {
  font-size: 24px;
  font-weight: bold;
  color: #ffff8f;
}
.toy.maximum::after {
  opacity: 1;
}

.control-panel {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  font-size: 18px;
  margin: 0 auto 20px auto;
  /* padding: 80px 8px 20px 8px; */
  line-height: 40px;
  background-color: rgba(31, 112, 127, 0.5);
  backdrop-filter: blur(5px);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.filters,
.range,
.sort {
  width: 30%;
  padding: 10px;
}

.sort select,
.sort button {
  font: inherit;
  font-size: 16px;
  transition: all 0.4s;
}

.range {
  width: 40%;
  text-align: center;
}

.control-panel-title {
  display: block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
}

.sort-select {
  background-color: rgba(31, 112, 127, 0.5);
  background-image: url('../assets/svg/arrow-down.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 340px center;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid #4cc7f4;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  appearance: none;
  outline: 0;
  width: 380px;
  height: 44px;
  padding: 5px 25px;
  margin: 10px 0;
  cursor: pointer;
  margin-bottom: 50px;
}

.sort-select option {
  color: inherit;
  background-color: #183e42;
}

.sort-select:focus {
  outline: none;
}

input[type='range'] {
  margin: 10px;
}

output {
  margin: 10px 0;
  display: inline-flex;
  justify-content: center;
  backdrop-filter: blur(5px);
  align-items: center;
  min-width: 80px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #4cc7f4;
}

.count-slider,
.year-slider {
  display: inline-block;
  height: 7px;
  width: 300px;
}

.count-slider-container,
.year-slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding-bottom: 50px;
}

.count-slider-container {
  margin-bottom: 35px;
}

.shape,
.color,
.size {
  display: flex;
  align-items: center;
}

.shape button {
  position: relative;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 10px 7px;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}

.shape button:nth-child(5) {
  width: 50px;
}

.shape button:hover {
  filter: invert(20%) sepia(48%) saturate(1332%) brightness(135%) contrast(88%);
}

.shape button.active {
  filter: invert(20%) sepia(48%) saturate(1332%) brightness(125%) contrast(88%);
}

.shape button:nth-child(1) {
  background-image: url('../assets/svg/ball.svg');
  margin-left: 20px;
}

.shape button:nth-child(2) {
  background-image: url('../assets/svg/bell.svg');
}

.shape button:nth-child(3) {
  background-image: url('../assets/svg/cone.svg');
}

.shape button:nth-child(4) {
  background-image: url('../assets/svg/snowflake.svg');
}

.shape button:nth-child(5) {
  background-image: url('../assets/svg/toy.svg');
}

.color button,
.favorite-container button {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 15px 10px;
  border: 1px solid #4cc7f4;
  border-radius: 5px;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 50%;
}

.color button:hover,
.favorite-container button:hover {
  border-color: #fff;
}

.color button.active:nth-child(1) {
  border-color: #fff;
}

.color button.active:nth-child(2) {
  border-color: #fdda0d;
}

.color button.active:nth-child(3) {
  border-color: red;
}

.color button.active:nth-child(4) {
  border-color: blue;
}

.color button.active:nth-child(5) {
  border-color: green;
}

.color button.active::after,
.favorite-container button.active::after {
  content: '';
  display: block;
  position: absolute;
  left: 9px;
  width: 6px;
  height: 10px;
  top: 5px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.color button.active:nth-child(1)::after {
  border-color: #666;
}

.color button:nth-child(1) {
  background-color: #fff;
  margin-left: 20px;
}

.color button:nth-child(2) {
  background-color: #fdda0d;
}

.color button:nth-child(3) {
  background-color: red;
}

.color button:nth-child(4) {
  background-color: blue;
}

.color button:nth-child(5) {
  background-color: green;
}

.size button {
  position: relative;
  background-image: url('../assets/svg/ball.svg');
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin: 5px 5px;
  border: 0;
  outline: 0;
  background-position: center center;
  cursor: pointer;
  transition: 0.4s;
}

.size button:hover {
  filter: invert(20%) sepia(48%) saturate(1332%) brightness(135%) contrast(88%);
}

.size button.active {
  filter: invert(20%) sepia(48%) saturate(1332%) brightness(125%) contrast(88%);
}

.size button:nth-child(1) {
  margin-left: 20px;
}

.size button:nth-child(2) {
  background-size: 40px 40px;
}

.size button:nth-child(3) {
  background-size: 32px 32px;
  margin-left: 0;
}

.favorite-container,
.form-group {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 0;
}

.favorite-input {
  width: initial;
  height: initial;
  display: none;
}

.favorite-input-label {
  position: relative;
  border: 1px solid #4cc7f4;
  border-radius: 5px;
  display: flex;
  width: 30px;
  height: 30px;
  backdrop-filter: blur(5px);
  padding: 0;
  margin: 0;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.favorite-input-label:hover {
  background-color: #4cc7f4;
}

.favorite-input:checked + .favorite-input-label {
  background-color: #4cc7f4;
  border-color: #4cc7f4;
}

.favorite-input:checked + .favorite-input-label::after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.reset-btn {
  width: 260px;
  height: 40px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #4cc7f4;
  background-color: rgba(31, 112, 127, 0.5);
  backdrop-filter: blur(5px);
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  transition: all 0.4s;
}

.reset-btn:hover,
.sort-select:hover {
  border: 1px solid #fff;
}
.hide {
  display: none;
}

.hide-opacity {
  opacity: 0;
}

.count-slider-container .noUi-tooltip {
  width: 60px;
}

.count-slider-container .noUi-tooltip {
  width: 40px;
}

.noUi-handle-lower .noUi-tooltip {
  left: -20px;
  bottom: -60px;
}

.noUi-handle-upper .noUi-tooltip {
  left: 40px;
  bottom: -60px;
}

.count-slider-container .noUi-handle-lower .noUi-tooltip {
  left: -10px;
}

.count-slider-container .noUi-handle-upper .noUi-tooltip {
  left: 30px;
}

.noUi-tooltip {
  border-radius: 10px;
}

footer {
  background: #eaeef3;
  height: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #000;
}

footer div {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: #000;
}
.rslogo {
  max-width: 100px;
  max-height: 100px;
  height: auto;
  width: 100%;
}

.up-button {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  width: 48px;
  height: 48px;
  position: fixed;
  bottom: 5%;
  right: 2%;
  z-index: 3;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: 0.8s all;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%);
  background-color: #fff;
}

.up-button:hover {
  background-color: #e5e5e5;
}

.show-button {
  opacity: 1;
}

.reset-buttons-wrapper {
  text-align: center;
}

@media (max-width: 1320px) {
  .filters {
    width: 52%;
    padding: 20px;
  }
  .range {
    width: 48%;
    padding: 20px;
  }
  .sort {
    width: 100%;
  }
  .sort-select {
    margin-left: calc(50% - 190px);
  }
}

@media (max-width: 1000px) {
  .search {
    width: 320px;
  }
  .count-slider,
  .year-slider {
    width: 240px;
  }
  .control-panel {
    font-size: 17px;
  }
  .sel-text {
    display: none;
  }
}
