.tree-container-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  max-width: 1400px;
  /* height: calc(100vh - 170px); */
  min-height: 750px;
  margin: 0 auto;
  padding: 0; /* 
  padding-bottom: 100px; */
  flex-wrap: wrap;
  position: relative;
}

.favorites-menu-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  width: 25%;
  padding-top: 25px;
}

.favorites-menu-wrapper > div {
  width: 100%;
}

.main-tree-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url('../assets/bg/1.jpg');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 170px);
  min-height: 750px;
  width: 50%;
  padding-bottom: 20px;
  overflow: hidden;
  border-radius: 15px;
}

.main-tree {
  display: block;
  width: 500px;
  height: 714px;
}

.favorites-toys {
  height: calc(100vh - 170px);
  min-height: 750px;
  width: 25%;
}

.fav-container,
.fav-container-test,
.fav-decor {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  width: 100%;
  padding-top: 25px;
  padding-left: 25px;
}

.fav-title {
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0;
}

.fav-decor-container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  height: 140px;
  /* width: 25%; */
  overflow-x: auto;
}

.fav-decor-container::-webkit-scrollbar {
  height: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.fav-decor-container::-webkit-scrollbar-thumb {
  background-color: #237e8f;
  border-radius: 5px;
  cursor: pointer;
}

.tree-decor {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  min-width: 115px;
  height: 115px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.tree-decor-img {
  height: 110px;
}

.favorites-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  max-width: 84px;
  min-height: 84px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.favorites-card-img {
  display: block;
  position: absolute;
  width: auto;
  height: 60px;
  width: 60px;
  object-fit: contain;
  cursor: move;
}

.favorites-count {
  z-index: 10;
  align-self: flex-end;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #24c5db;
  font-size: 14px;
  font-weight: 900;
  margin-left: 60px;
  border-radius: 10px;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 20px;
}

.menu-item {
  width: 80px;
  height: 80px;
  gap: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.snow-controls {
  width: 40px;
  height: 40px;
  background-image: url('../assets/svg/snow.svg');
}

.audio-controls {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 40px;
  background-image: url('../assets/svg/audio.svg');
}

.snow-controls:hover,
.audio-controls:hover {
  filter: invert(20%) sepia(48%) saturate(1332%) brightness(135%) contrast(88%);
}

.snow-controls.active,
.audio-controls.active {
  filter: invert(20%) sepia(48%) saturate(1332%) brightness(115%) contrast(88%);
}

.bg {
  width: 65px;
  height: 65px;
  border: 1px solid #cccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.bg:nth-child(1) {
  background-image: url('../assets/bg/1.jpg');
}
.bg:nth-child(2) {
  background-image: url('../assets/bg/2.jpg');
}
.bg:nth-child(3) {
  background-image: url('../assets/bg/3.jpg');
}
.bg:nth-child(4) {
  background-image: url('../assets/bg/4.jpg');
}
.bg:nth-child(5) {
  background-image: url('../assets/bg/5.jpg');
}
.bg:nth-child(6) {
  background-image: url('../assets/bg/6.jpg');
}
.bg:nth-child(7) {
  background-image: url('../assets/bg/7.jpg');
}
.bg:nth-child(8) {
  background-image: url('../assets/bg/8.jpg');
}
.bg:nth-child(9) {
  background-image: url('../assets/bg/9.jpg');
}
.bg:nth-child(10) {
  background-image: url('../assets/bg/10.jpg');
}

.tree-item {
  height: 100px;
  /* height: 100px; */
  width: 30%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: auto 110px;
}

.tree-item:nth-child(1) {
  background-image: url('../assets/tree/1.png');
}
.tree-item:nth-child(2) {
  background-image: url('../assets/tree/2.png');
}
.tree-item:nth-child(3) {
  background-image: url('../assets/tree/3.png');
}
.tree-item:nth-child(4) {
  background-image: url('../assets/tree/4.png');
}
.tree-item:nth-child(5) {
  background-image: url('../assets/tree/5.png');
}
.tree-item:nth-child(6) {
  background-image: url('../assets/tree/6.png');
}
.lights-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  padding: 10px;
}
.lights-container {
  display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    /* width: 100%; */
    width: fit-content;
    margin: 0 auto;
}

.color-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.multi-btn {
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8);
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, #ccc 0 2px 12px;
}

.red-btn {
  background-color: #f00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.yellow-btn {
  background-color: #ff0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #ff0 0 2px 12px;
}

.green-btn {
  background-color: #abff00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89ff00 0 2px 12px;
}

.blue-btn {
  background-color: #24e0ff;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3f8cff 0 2px 14px;
}

.none-btn {
  background: #fff url('../assets/svg/cross-red.svg') center / 110% no-repeat;
  border: 2px solid red;
}

.lightswitch {
  position: relative;
  width: 85px;
}
.lightswitch-checkbox {
  display: none;
}
.lightswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 20px;
}
.lightswitch-inner {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.lightswitch-inner:before,
.lightswitch-inner:after {
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  box-sizing: border-box;
}
.lightswitch-inner:before {
  content: 'Вкл';
  padding-left: 12px;
  background-color: #237e8f;
  color: #ffffff;
}
.lightswitch-inner:after {
  content: 'Выкл';
  padding-right: 10px;
  background-color: #eeeeee;
  color: #666;
  text-align: right;
}
.lightswitch-switch {
  width: 26px;
  margin: 2px;
  background: #ffffff;
  border: 2px solid #999999;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 55px;
  transition: all 0.3s ease-in 0s;
}
.lightswitch-checkbox:checked + .lightswitch-label .lightswitch-inner {
  margin-left: 0;
}
.lightswitch-checkbox:checked + .lightswitch-label .lightswitch-switch {
  right: 0px;
}

.snow-wrapper {
  height: calc(100vh - 50px);
  width: 50%;
  position: absolute;
  top: 0;
  /* height: 100%; */
  left: 25%;
  pointer-events: none;
  z-index: 99;
  overflow: hidden;
  /* left: 0; */
}

.snow {
  width: 100%;
  height: 10%;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st1%7Bopacity:0.3%3Bfill:%23FFFFFF%3B%7D.st3%7Bopacity:0.1%3Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Ccircle class='st1' cx='5' cy='8' r='1'/%3E%3Ccircle class='st1' cx='38' cy='3' r='1'/%3E%3Ccircle class='st1' cx='12' cy='4' r='1'/%3E%3Ccircle class='st1' cx='16' cy='16' r='1'/%3E%3Ccircle class='st1' cx='47' cy='46' r='1'/%3E%3Ccircle class='st1' cx='32' cy='10' r='1'/%3E%3Ccircle class='st1' cx='3' cy='46' r='1'/%3E%3Ccircle class='st1' cx='45' cy='13' r='1'/%3E%3Ccircle class='st1' cx='10' cy='28' r='1'/%3E%3Ccircle class='st1' cx='22' cy='35' r='1'/%3E%3Ccircle class='st1' cx='3' cy='21' r='1'/%3E%3Ccircle class='st1' cx='26' cy='20' r='1'/%3E%3Ccircle class='st1' cx='30' cy='45' r='1'/%3E%3Ccircle class='st1' cx='15' cy='45' r='1'/%3E%3Ccircle class='st1' cx='34' cy='36' r='1'/%3E%3Ccircle class='st1' cx='41' cy='32' r='1'/%3E%3C/svg%3E");
  background-position: 0px 0px;
  animation: snowBackground 10s linear infinite;
}

.snow div {
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st1%7Bopacity:0.7%3Bfill:%23FFFFFF%3B%7D.st3%7Bopacity:0.1%3Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Ccircle class='st3' cx='4' cy='14' r='1'/%3E%3Ccircle class='st3' cx='43' cy='3' r='1'/%3E%3Ccircle class='st3' cx='31' cy='30' r='2'/%3E%3Ccircle class='st3' cx='19' cy='23' r='1'/%3E%3Ccircle class='st3' cx='37' cy='22' r='1'/%3E%3Ccircle class='st3' cx='43' cy='16' r='1'/%3E%3Ccircle class='st3' cx='8' cy='45' r='1'/%3E%3Ccircle class='st3' cx='29' cy='39' r='1'/%3E%3Ccircle class='st3' cx='13' cy='37' r='1'/%3E%3Ccircle class='st3' cx='47' cy='32' r='1'/%3E%3Ccircle class='st3' cx='15' cy='4' r='2'/%3E%3Ccircle class='st3' cx='9' cy='27' r='1'/%3E%3Ccircle class='st3' cx='30' cy='9' r='1'/%3E%3Ccircle class='st3' cx='25' cy='15' r='1'/%3E%3Ccircle class='st3' cx='21' cy='45' r='2'/%3E%3Ccircle class='st3' cx='42' cy='45' r='1'/%3E%3C/svg%3E");
  background-position: 0px 0px;
  animation: snowBackground 15s linear infinite;
}

@keyframes snowBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px 300px;
  }
}

/* testSnow */

.fa-snowflake {
  color: #fff;
  position: absolute;
  top: -20px;
  animation: fall linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}
@media (max-width: 1320px) {
  .favorites-menu-wrapper {
    width: 30%;
  }

  .favorites-toys {
    width: 100%;
  }

  .main-tree-container {
    width: 70%;
  }
}
